<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">所属用户</label>
            <label class="layui-col-xs10">
                <input name="phone" required value='{$vo.phone|default=""}' placeholder="请输入所属用户(手机号)" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">所属银行</label>
            <label class="layui-col-xs10">
                <input name="bank" required value='{$vo.bank|default=""}' placeholder="请输入所属银行" class="layui-input">
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">支行名称</label>
            <label class="layui-col-xs10">
                <input name="area" value='{$vo.area|default=""}' placeholder="请输入支行名称" class="layui-input">
            </label>
        </div>
        
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">银行卡号</label>
            <label class="layui-col-xs10">
                <input name="account" required value='{$vo.account|default=""}' placeholder="请输入银行卡号" class="layui-input">
            </label>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
{block name='script'}
<script>
    window.form.render();
</script>
{/block}
