{extend name='admin@main'}

{block name="content"}
<div class="think-box-shadow">
    {include file='sms/class_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>短信名称</th>
            <th class="text-left" style="max-width:350px">短信内容</th>
            <th class="text-left">状态</th>
            <th class="text-left">备注</th>
            <th class="text-left">操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>
                {$vo.type|default=''}
            </td>
            <td class='text-left' style="max-width:350px;overflow:hidden">{$vo.msg}</td>
            <td class='text-left nowrap'>
                {if $vo.status == 0}
                <span class="color-red">已关闭</span>
                {/if}
                {if $vo.status == 1}
                <span class="color-green">已开启</span>
                {/if}
            </td>
            <td class='text-left nowrap'>{$vo.code}</td>
            <td class='text-left nowrap'>

                {if $vo.status eq 1 and auth("forbid")}
                <a class="layui-btn layui-btn-danger layui-btn-sm" data-confirm="确定要关闭吗？" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('forbid')}">关 闭</a>
                {elseif auth("resume")}
                <a class="layui-btn layui-btn-warm layui-btn-sm" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('resume')}">启 用</a>
                {/if}

                {if auth("edit")}
                <a data-title="编辑" class="layui-btn layui-btn-sm" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
