<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">APPID</label>
            <label class="layui-col-xs10">
                <input name="appid" required value='{$vo.appid|default=""}' placeholder="请输入APPID）" class="layui-input">
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">应用私钥</label>
            <label class="layui-col-xs10">
                <input name="private_key" required value='{$vo.private_key|default=""}' placeholder="请输入应用私钥（RSA2）" class="layui-input">
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">支付宝公钥</label>
            <label class="layui-col-xs10">
                <input name="public_key" required value='{$vo.public_key|default=""}' placeholder="请输入支付宝公钥" class="layui-input">
            </label>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
{block name='script'}
<script>
    window.form.render();
</script>
{/block}
