{extend name='admin@main'}

{block name="button"}
{if auth("admin/sign_reward/add")}
<button data-modal='{:url("add")}' data-title="添加签到奖励" class='layui-btn layui-btn-sm layui-btn-primary'>添加签到奖励</button>
{/if}
{if auth("remove")}
<button data-action='{:url("remove")}' data-rule="id#{key}" data-csrf="{:systoken('remove')}" data-confirm="确定要删除这些签到奖励吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除签到奖励</button>
{/if}
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='sign_reward/class_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>签到天数</th>
            <th class="text-center">奖励类型</th>
            <th class="text-center">奖励金额</th>
            <th class="text-center"></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                {$vo.days|default=''}
            </td>
            <td class='text-center nowrap'>
                {if $vo.reward_type == 1}
                <span class="color-red">现金红包</span>
                {/if}
                {if $vo.reward_type == 2}
                <span class="color-green">代金券</span>
                    (
                    {if $vo.coupon_xid == 0}通用券，{/if}
                    {if $vo.coupon_xid > 0}指定商品券，{/if}
                    有效期{$vo.coupon_day}天
                    )
                {/if}
             </td>
            <td class='text-center nowrap'>{$vo.reward_num}</td>
            <td class='text-left nowrap'>

                {if auth("admin/sign_reward/edit")}
                <a data-title="编辑奖励" class="layui-btn layui-btn-sm" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                {/if}

                {if auth("admin/sign_reward/remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除数据吗?" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
